:root{
    --orange :#E94D1A;
    --orange-opac :#e94e1a38;
    --noir :#151414;
    --gris :#f6f6f6;
}
body{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
/* debut banierre  */
.banierre-service{
    background-image: url(../header-footer/images/banniere_art_design.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}

.link-banierre h4{
    margin-left: 5vh;
    position: relative;
    top: -15vh;
}

.link-banierre a{
    color: black;
    text-decoration: none;
}

.link-banierre .link-active{
    color: var(--orange);
}

/* Fin banierre  */
.formation_art_graphique-line{
    background-color: var(--orange);
    width: 10%;
    height: 3px;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
}
/* .formation_art_graphique-content{
    width: 80%;
    margin: 0 auto;
} */
.formation_art_graphique-form{
    background-color: #E94D1A;
    color: #E94D1A;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 60px;
    height: 60px;
    margin-left: 30px;
}
.p-icon i{
    font-size: 10px;
}
.card-image img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.card{
    box-shadow: 10px 5px 5px var(--orange);
}
.formation_art_graphique-boutton{
    background-color: var(--orange);
    border: none;
}
.formation_art_graphique-boutton:hover{
    background-color: var(--orange);
    /* border: none; */
}
.formation_art_graphique-boutton:active{
    background-color: none;
    /* border: none; */
}
/* .formation_art_graphique-pagination span{
    
} */
.formation_art_graphique-pagination1{
    background-color: var(--orange);
    color: white;
    font-weight: bold;
    padding: 5px 7px;
}
.formation_art_graphique-pagination2{
    background-color: var(--gris);
    color: var(--orange);
    font-weight: bold;
    padding: 5px 7px;
}
.formation_art_graphique-prof h4{
    text-decoration: underline;
}
.formation_art_graphique-pro img, .formation_art_graphique-comment img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.formation_art_graphique-pro{
    background-color: var(--orange-opac);
    padding: 10px 20px;
    width: 500px;
}
.formation_art_graphique-line1{
    background-color: var(--orange);
    width: 100%;
    height: 1px;
}
.formation_art_graphique-link a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.formation_art_graphique-link i{
    font-size: 25px;
}

.formation_art_graphique-pagination #cercle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: var(--orange1);
}

.formation_art_graphique-pagination{
    justify-content: center;
}
@media screen and (width <= 900px ){
    /* .formation_art_graphique-form{
        margin: 0 auto;
    } */
    .formation_art_graphique-iframe{
        margin: 0 auto;
        width: 100%;
    }
    .det-carte{
        /* margin-bottom: 50px; */
        width: 100%;
        margin: 30px auto;
    }
    .formation_art_graphique-link a{
        font-size: 16px;
    }
    .formation_art_graphique-link i{
        font-size: 18px;
    }
}
/* @media screen and (width <= 390px ){
  
    .det-iframe{
        margin: 0 auto;
        width: 100%;
    }
    .det-carte{
        width: 30%;
        margin: 30px auto;
    }
    .formation_art_graphique-link a{
        font-size: 13px;
    }
    .formation_art_graphique-link i{
        font-size: 15px;
    }
    .formation_art_graphique-pro{
        width: 300px;
    }
} */