:root{
   --main-color:#E94D1A;
   --second-color:#151414;
}
*{
   padding: 0;
   margin: 0;
}
/* debut banierre  */
.banierre-service{
   background-image: url(https://t3.ftcdn.net/jpg/06/18/76/62/240_F_618766289_vWxEGaKWBgQQaqmy6oA450lxP3yrtDOd.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 400px;
}

.link-banierre h4{
   margin-left: 5vh;
   position: relative;
   top: -15vh;
}
@media screen and (max-width: 768px) {
   .link-banierre h4{
      margin-top: 20%;
      margin-left: 3%;
   }
   
}

.link-banierre a{
   color: black;
   text-decoration: none;
}

.link-banierre .link-active{
   color: var(--main-color);
}
#design{
   display: flex;
   gap: 15px;
   /* margin: 20px 10px; */
   background-color: rgb(238, 233, 233);
   padding: 10px;
}
@media screen and (max-width: 768px){
   *{
      margin: 0;
      padding: 0;
   }
   .banierre-service{
      margin: 0 auto;
      min-height: 115px;
      margin-top: 0;

   }
  
}
.main-video-content{
   display:flex;
   flex-direction: column;
   gap: 5px;
   padding: 10px;
   box-shadow: 0 1px 2px gray;
   width: 700px;
   /* height: 400px; */
}
@media screen and (max-width: 768px) {
   #design{
      display: grid;
      grid-template-columns: auto;
      width: 100%;
      margin-left: 1%;
      margin-bottom: -5%;
      margin-top: -20%;
   }
  .main-video-content {
      width: 380px;
  }
  
}
.main-video-content video{
   width: 600px;
   /* margin-left: 40%; */
}
@media screen and (max-width:768px) {
   .main-video-content video{
      width: 350px;
      height: 200px;
   }
   .playlist-video{
      display: grid;
      grid-template-columns: auto;

   }
   .playlist{
      max-height: 10px;
      width: 385px;
   }
   .playlist::-webkit-scrollbar{
      display: none;
   }

   
}

.playlist{
   display: flex;
   flex-direction: column;
   gap: 10px;
   overflow: auto;
   max-height: 400px;
   padding: 20px;
   margin-left: 3%;
}
.playlist::-webkit-scrollbar{
   width: 6px;
}
.playlist::-webkit-scrollbar-thumb{
   border-radius: 10px;
   background-color: gray;
}
.playlist-video{
   display: flex;
   align-items: center;
   gap: 5px;
   padding: 5px;
   box-shadow: 0 1px 2px gray;
   margin-right: 5px;
   cursor: pointer;
}
.active{
   background-color: rgba(247, 113, 4, 0.479);
   color: rgb(246, 248, 246);
}
.playlist-video video{
   width: 100px;
}

/* Fin banierre  */

.commentaire{
   margin-top: 3%;
   display: flex;
   justify-content: space-around;
}
.commentaire a{
   color: #000;
}
 .profil img{
   border-radius: 100%;
   width: 28%;
   margin-top: 5%;
   margin-left: 5%;
}
.message{
   display: flex;  
   /* border: 1px solid #000; */
   width: 60%;
   margin-top: 2%;
   background-color: rgb(243, 239, 239);
   margin-left: 5%;
}
.commen{
   /* border: 1px solid #000; */
   margin-left: -25%;
   margin-top: 1%;
}
.commen p{
   /* border: 1px solid #000; */
   margin-left: 18%;
   margin-top: 1%;
   width: 150%;
}
@media screen and (max-width:768px){
   .profil img{
      width: 20%;
   }
   .message{
      /* border: 1px solid #000; */
      width: 95%;
      height: 20%;
   }
    .commen p{
      margin-left:-10%;
      /* border: 1px solid #000; */
      width: 105%;
      font-size: 10px;
      margin-top: 4%;

   }
   .commentaire{
      /* display: grid;
      grid-template-columns: auto; */
      margin-top: 8%;
      /* border: 1px solid #000; */
      font-size: 10px;
      width: 75%;
      margin-left: 15%;
   }
   .commen{
      /* width: 100%; */
   }
}
.forma{
   display: grid;
   grid-template-columns: auto auto auto;
   /* border: 1px solid #000; */
   gap: 2%;
   width: 85%;
   margin: 0 auto;
}
@media screen and (max-width: 768px) {
   .forma{
      display: grid;
      grid-template-columns: auto;
      margin-bottom: 2%;
   }
   .autres h1{
      border: 1px solid #000;
      width: 50%;
      font-size: 16px;
      margin: 0 auto;
   }

   
}
.item1{
   /* border: 1px solid #000; */
   background-image: url(https://images.unsplash.com/photo-1602064172250-43f8909056c7?auto=format&fit=crop&q=60&w=1400&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGRlc2lnbmVyfGVufDB8fDB8fHww);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 25%;
}
.libele1{
   color: white;
   background-color: var(--main-color);
   text-align: center;
   padding: 3px;
   margin-top: -50%;
   margin-left: 55%;
   /* border: 1px solid #000; */
   width: 95%;
}
.item2{
   /* border: 1px solid #000; */
   background-image: url(https://images.unsplash.com/photo-1556636530-6b7482d80e3d?auto=format&fit=crop&q=60&w=400&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzV8fFByb2dyYW1tZXVyfGVufDB8fDB8fHwwhttps://media.istockphoto.com/id/816887330/photo/cms.webp?b=1&s=170667a&w=0&k=20&c=2lr7M_pcb8Mm3R6wD5x7vWxZ_1ra7Mxon1W2wclWgZ4=);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 25%;
}
.libele2{
   color: white;
   background-color: var(--main-color);
   text-align: center;
   padding: 3px;
   margin-top: -50%;
   margin-left: 55%;
   /* border: 1px solid #000; */
   width: 95%;
}
.item3{
   /* border: 1px solid #000; */
   background-image: url(https://img.freepik.com/photos-premium/presentation-ventes-homme-affaires-mise-jour-du-rapport-marketing-financier-lors-reunion-tableau-analyse-financiere-du-document-kpi-analyse-donnees-responsable-strategie-parle-planification-gens_590464-83149.jpg?size=626&ext=jpg&ga=GA1.1.48596631.1693317651&semt=ais);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 25%;
}
.libele3{
   color: white;
   background-color: var(--main-color);
   text-align: center;
   padding: 3px;
   margin-top: -50%;
   margin-left: 55%;
   /* border: 1px solid #000; */
   width: 95%;
}
.autres h1{
   margin-top: 3%;
   margin-left: 40%;
}
#couleur{
   background-color: var(--main-color);
   width: 5%;
   height: 3px;
}
#icone{
   padding: 11px;
   background-color: var(--main-color);
   margin-right: -100%;
}
.trait{
  padding: 3px;
  background-color: var(--main-color);
} 
