:root{
    --main-color:#E94D1A;
    --second-color:#151414;
}
*{
    margin: 0;
    padding: 0;
    list-style: none!important;
    text-decoration: none!important;
}

/* Debut progress barre  */
#progress {
    background-color: var(--main-color);
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    display: none;
    place-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progressValue {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: var(--main-color);
    display: grid;
    place-items: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
/* Fin progress barre  */


/*--------------- Debut Section Menu---------- */
.Container_Menu .FirstMenu{
    background-color: var(--second-color);
    color: white;
    position: sticky;
    top: 0;
    z-index: 6;
}


.FirstMenu ul{
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 1em;
    gap: 35px;
}

.FirstMenu ul li img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.FirstMenu ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.FirstMenu ul li:first-child{
    position: absolute ;
    left: 0;
    margin-left: 30px;
    display: none;
}

.FirstMenu ul li:nth-child(2){
    position: absolute ;
    left: 10vh;
} 
.FirstMenu ul li:nth-child(3){
    position: absolute ;
    left: 45vh;
} 
.FirstMenu ul li:nth-child(4){
    position: absolute ;
    left: 80vh;
} 


.FirstMenu ul li span{
    border-right: 2px solid var(--main-color);
    padding: 1vh 2vh 1vh 1vh;
}

.FirstMenu ul li .except{
    border-right: none;
}

.personnal-info i{
    color: var(--main-color);
}

.social-media i{
    color: var(--main-color);
    margin-right: 10px;
}

/* Drop Down Menu */

/*--------------------- Fin Section first-menu----------------- */


/*---------------------------------- Debut Section Second_Menu-----------------------------*/
.SecondMenu {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 90px !important;
    gap: 20px;
    margin-top: -16px;
    padding-top: 0.8em;
    flex-wrap: wrap;
    position: sticky;
    top: 62px;
    z-index: 5;
}


.SecondMenu_Image{
    position: absolute;
    left: 0;
    margin-left: 30px;
}

.SecondMenu .SecondMenu_Image img{
    max-width: 150px;
    max-height: 80px !important;
}

.SecondMenu_Formation img{
    max-width: 60px;
    max-height: 70px;
}


.SecondMenu_Formation ul{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.SecondMenu_Formation ul li a{
    color: black;
    font-size: 3vh;
}

.SecondMenu_Formation ul li a:hover{
    color: var(--main-color);
}
.SecondMenu_Formation:last-child{
   margin-right: 30px;
}
/*---------------------------------- Fin Section Second_Menu-----------------------------*/





/*----------------- Debut Section Footer ---------------------------- */
.footer-container{
    background-color:var(--second-color);
    min-height: 450px;
    color: white;
    margin-top: 20px;
    position: absolute ;
    left: 0;
    right: 0;
    z-index: -1;
}


.footer-personnal-info {
    border-bottom: 1px solid var(--main-color);
}

.single-cta i {
    color: var(--main-color);
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 2px;

  }
  .cta-text span {
    color: #fff;
    font-size: 15px;
  }

.footer-logo{
    width: 50%;
}

.footer-logo a{
    color: var(--main-color);
}
.footer-logo a:hover{
    color: white;
    transition: ease 1s;
}

.footer-social-icon button{
    width: 5vh;
    height: 5vh;
    color: white;
    background-color: var(--main-color);
    border-radius: 100%;
    
}


.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.footer-widget .line{
    width: 10vh;
    height: 2px;
    background-color: var(--main-color);
    margin-bottom: 3vh;
}

.footer-widget ul li {
    width: 100%;
    margin-bottom: 12px;
    margin-left: -4.5vh;
}

.footer-widget ul li a:hover{
    color:var(--main-color);
}
  
.footer-widget ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;  
}

.subscribe-form input{
    border: none;
}

.subscribe-form .btn{
    background-color: var(--main-color);
    color: white;
}
.subscribe-form .btn:hover{
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

/*----------------- Fin Section Footer   ----------------------------*/

.iconeBarLeft{
    opacity: 0;
}

.iconeBarRight{
    opacity: 0;
}

/*---------- Responsivité---------- */
@media screen and (max-width:1050px) {
   .SecondMenu{
    display: none;
   }

   .FirstMenu ul li{
      display: none;
   }

   .FirstMenu ul li:first-child{
    display: block;
   }
   .iconeBarLeft{
      opacity: 1;
      margin-left: 20px;
   }
   .iconeBarRight{
    opacity: 1;
    margin-right: 20px;
    margin-left: 10px;
 }

   .iconeBarLeft:first-child{
    position: absolute;
    left: 0;
   }

   #MenuSec.menu-bar{
    display: block;
    right: 0;
    position: fixed;
    transition: 1s;
    height: 100%;
    }

    #MenuSec.menu-bar ul li{
       text-align: center;
    }  

    .Container_Formateur_Banner{
        margin-top: -20px;
    }
}

@media screen and (max-width: 600px){
    .Section_Footer{
        display: grid;
        grid-template-columns: 1fr, 1fr;
        
        justify-content: center;
        align-items: center;
    }

    .Section_Footer_Newsletters_Input button{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-bar{
        display: none;
    }
}
/*-------------- Fin Responsivité -------------------*/

/*---------------- Debut Section SideBar---------------*/

#MenuSec{
    position: absolute;
    display: none;
    background-color: #262626;
    width: 100%;
    height: auto;
    margin-top: -20px;
    z-index: 3;
    color: white;
    padding: 3em;
    overflow: hidden;
}

#MenuSec ul li{
    list-style: none;
    line-height: 50px;
}

#MenuSec ul li a{
    text-decoration: none;
    color: white;
}

#X_Bar{
    /* display: none; */
    position:absolute;
    top: 20px;
    right: 0;
    margin-right: 50px;
    font-size: 30px;
    margin-left: 30px;
}

.foo{
    display: block;
}
/*------------------- Fin Section SideBar-----------------*/
